@import './base.css';
@import './additional.css';
@import './scrollbar.css';
@import './cursor.css';

@media print {
  * {
    overflow: visible !important;
    page-break-after: avoid;
    page-break-before: avoid;
    break-inside: avoid;
    height: max-content;
  }
}
